*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

:root
{
    --color1 : #242538;
    --color2 : #2B2D42;
    --color3 : #191b30;
    --color4 : #f2eee7;
    --color5 : #b7f4fc;
    --color6 : red;
    --color7 : rgb(117, 0, 0);
}

body
{
    background: var(--color2);
    color: var(--color4);
}

.navbar
{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;

    background: var(--color1);
    color: var(--color4);

    padding: 5px 0px;
}

.nav-comp
{
    display: flex;
    align-items: center;
    flex-flow: row wrap;

}

.nav-head
{
    margin: 0px 2%;
}

.nav-logo
{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin: 2px 5px;
}

.nav-tabs>a
{
    text-decoration: none;
    color: var(--color4);
    padding: 4px 2px;
    margin: 0px 5px;
}

.nav-tabs>a:hover
{
    color: var(--color6);
}

.home
{
    background: url(bg-img.jpg) no-repeat center;
    background-size: cover; 
}

.profile
{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    flex-flow: row wrap;
    /* height: 80vh;     */
    padding: 10% 0%;
    background: rgba(0, 0, 0, 0.6);
}

.profile-img-box
{
    text-align: center;
    z-index: 1;
}

.profile-img
{
    /* border: 2px solid red; */
    border-radius: 200px;
    box-shadow: 0px 0px 5px var(--color1);
    margin: 2% 0%;
}

.profile-desc-box
{
    /* border: 2px solid red; */
    padding: 0px 2%;
    z-index: 1;
}

.hi-name
{
    width: 85%;
    padding: 1% 0%;
    color: var(--color6);
    margin: auto auto;
}

.hi-about
{
    width: 85%;
    padding: 1% 0%;
    margin: auto auto;
    text-align: justify;
    color: var(--color4);
}

.cv-btn
{
    border: 2px solid var(--color6);
    outline: none;
    background: transparent;
    color: var(--color6);
    padding: 3px 5px;
    text-decoration: none;
}

.cv-btn:hover
{
    background: var(--color6);
    color: var(--color4);
}

.projects
{
    /* border: 2px solid red; */
    /* height: 80vh; */
    padding: 5% 2%;
}

.projects>h1
{
    /* border: 2px solid red; */
    padding: 1% 8%;
    text-align: center;
    font-weight: bolder;
}

.skill-container
{
    padding: 1% 0%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-around;
}

.skill-card
{
    border: 2px solid var(--color7);
    display: inline-block;
    width: 250px;
    padding: 5px 10px;
    background: var(--color7);
    box-shadow: 0px 0px 5px var(--color1);
    cursor: pointer;
    z-index: 1;
}

.skill-card:hover
{
    transform: scale(1.05);
}

.skill-card>h2
{
    padding: 3px 0px;
    text-align: center;
}

.skill-card>p
{
    padding: 3px 5px;
    text-align: justify;
    color: var(--color5);
}

.project-container
{
    width: 100%;
    padding: 2% 0%;
}

.project-container>h1>i
{
    /* border: 2px solid red; */
    padding: 0px 10px;
    border-radius: 50px;
}

.project-container>h1>i:hover
{
    background: var(--color1);
    color: var(--color6);
}

.project-box
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 10px;
    padding: 1% 1%;
}

.project-card
{
    border: 1px solid var(--color6);
    display: inline-block;
    text-align: center;
    width: 300px;
    text-decoration: none;
    color: var(--color4);
}

.project-card:hover
{
    box-shadow: 0px 0px 10px var(--color6);
    transform: scale(1.03);
}

.project-img-box>img
{
    aspect-ratio: calc(1/1);
    width: 100%;
}

.project-name:hover
{
    background: var(--color6);
    color: var(--color4);
}

.about
{
    /* border: 2px solid red; */
    padding: 1% 5%;    
}

.feedback-form
{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding: 1% 0%;
}

.feedback-form>label
{
    /* border: 2px solid yellow; */
    padding: 0.5% 0%;
}

.feedback-form>input, .feedback-form>textarea
{
    outline: none;
    border: none;
    padding: 5px 5px;
}

.form-btn
{
    padding: 20px 0%;
}

.form-btn>button
{
    border: none;
    outline: none;
    border: 2px solid var(--color6);
    padding: 5px 5px;
    background: transparent;
    color: var(--color6);
    width: 80px;
}

.form-btn>button:hover
{
    background: var(--color6);
    color: var(--color4);
}

footer
{
    background: var(--color1);
    text-align: center;
}

.media-box
{
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto auto;
    padding: 1% 0%;
}

.media-box>a
{
    text-decoration: none;
    color: var(--color6);
    font-size: 1.5rem;
    margin: 0% 3%;

}

.media-box>a>i
{
    border-radius: 10px;
    padding: 0px 5px;
}

.media-box>a>i:hover
{
    box-shadow: 0px 0px 10px var(--color6);
}


::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-thumb
{
    width: 2px;
    background: red;
    border-radius: 100px;
}








@media only screen and (max-width : 500px)
{
    .profile
    {
        display: block;
    }

    .project-box
    {
        display: block;
        text-align: center;
    }
    
}